nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: var(--color-primary);
  border-bottom: 1px solid #eaeaea;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

nav ul {
  display: flex;
  gap: 1rem;
  list-style: none;
}

.loading {
  opacity: 0;
  transition: all 1.2s ease-in;
}

.loaded {
  opacity: 1;
  transition: all 1.2s ease-in;
}